/*
 * hint:
 * use # in front of the name of an id from your html page
 * use . in front of the name of a class of things from your html page
 * use , to separate a list of things that have some shared css rule
 */

body {
    padding: 30px;
    background-color: #e9e8d6;
    margin-left: 90px;
}

#main-title {
    color: black;
    font-family: 'OCR A Std', monospace, sans-serif;
    text-align: center;
    font-size: 3rem;
    text-decoration: underline dotted #10565B;
    text-transform: uppercase;
    background-image: url("qa1.png");
}

h2 {
    font-family: 'OCR A Std', monospace, sans-serif;
}

#style ul {
    list-style-type: none;
    padding: 0;
    background-color: #E78529;
}

#style li {
    float: left;
}

#style li a {
    display: block;
    color: #000000;
    padding: 8px 8px 8px 8px; /*this adds some spacing around the items in our "nav bar" */
    text-decoration: none;
    font-family: 'OCR A Std', monospace;
}

/* Change the link background color to #000 (black) on hover */
#style li a:hover {
    background-color: #1E9DB6;
}

#style {
    position: fixed;
    background-color: #E55028;
    left: 0;
    bottom: 0;
    top: 0;
    overflow-x: hidden;
    padding-right: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: right;
    width: 90px;
    margin-left: 0px;
}

#pslo {
    font-family: 'times new roman', monospace;
    background-color: #E01A47;
    border-color: #b71a44;
    border-style: solid;
    border-top-width: 5px;
    border-left-width: 5px;
    border-bottom-width: 10px;
    border-right-width: 10px;
}
