/*
 * hint:
 * use # in front of the name of an id from your html page
 * use . in front of the name of a class of things from your html page
 * use , to separate a list of things that have some shared css rule
 */

body {
    padding: 25px;
    background-color: #e9e8d6;
    margin-left: 100px;
}

#main-title {
    color: black;
    font-family: 'OCR A Std', monospace, sans-serif;
    text-align: right;
    font-size: 3rem;
    text-decoration: underline dotted #10565B;
    text-transform: uppercase;
    background-image: url("/lab-1-emma-and-machi/assets/images/qa1.png");
}

h2 {
    font-family: 'OCR A Std', monospace, sans-serif;
    text-align: center;
    text-decoration: underline dotted black;
}

#style ul {
    list-style-type: none;
    padding: 0;
    background-color: #E78529;
}

#style li {
    float: left;
}

#style li a {
    display: block;
    color: #000000;
    padding: 8px 8px 8px 8px; /*this adds some spacing around the items in our "nav bar" */
    text-decoration: none;
    font-family: 'OCR A Std', monospace;
}

/* Change the link background color to #000 (black) on hover */
#style li a:hover {
    background-color: #1E9DB6;
}

#style {
    position: fixed;
    background-color: #E55028;
    left: 0;
    bottom: 0;
    top: 0;
    overflow-x: hidden;
    padding-right: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: right;
    width: 100px;
    margin-left: 0px;
}

.section {
	font-family: 'times new roman', monospace;
}

#pslo {
    background-color: #E01A47;
    border-color: #b71a44;
    border-style: solid;
    border-width: 5px;
}

#courses {
	background-color: #209040;
	border-color: #1b7834;
	border-style: solid;
	border-width: 5px;
	margin-top: 10px;
	margin-bottom: 10px;
}

#faculty {
	background-color: #1F9DB6;
	border-color: #1a7d93;
	border-style: solid;
	border-width: 5px;
	
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
.name {
	font-family: 'times new roman', monospace;
	list-style-type: none;
}

#faculty>ul>li {
    display: inline-block;
    font-family: sans-serif;
    padding: 30px;
}

#faculty-list {
    padding-left: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; /* This tell's the flex items to wrap if there
                        isn't enough space for all of the items. Without this the
                        faculty images will be in a row and only resize well unitl around
                        550px width of screen. */
    justify-content: center;
    align-content: center;
}

.name {
  font-family: 'OCR A Std', monospace, sans-serif;
  font-size: 2rem;
}

.office {
  font-family: 'times new roman', monospace;
}

img.pic {
    width: 100%;
    border: 4px solid #1a7d93;
}