/*
hint:
use # in front of the name of an id from your html page
use . in front of the name of a class of things from your html page
use , to separate a list of things that have some shared css rule
use float to make something locate itself on the right or left

*/
body {
  padding: 30px;
  display: flex; /* this is the flexbox model. It adds responsive design to its items */
  flex-direction: column; /* this says how the flex items will align (e.g. 'row') */
   align-items: center;  /*These next two properties center the flex items */
  justify-content: center;
}

@media screen and (min-width: 925px) {
  .pslo-courses-container {
    display: flex;
    max-width: 53em;
  }
}

#main-title {
  width: 330px;
  height: 300px;
  font-family: "Patua One";
  border-radius: 20px;
  color: white;
  font-size: 70px;
  background-color: forestgreen;
  text-align: center;
  padding-top: 35px;
  margin-top: 10px;
}

.pslo-courses-container h2 {
  color: green;
  font-family: "PT Sans";
}

.section {
  padding: 0.5em 1em;
  margin: 2em 20px;
  color: green;
  background: palegreen;
  border-bottom: solid 10px #aac5de;
  border-radius: 9px;
}

.section li {
  color: darkolivegreen;
}

.faculty-container li {
  list-style: none;
  float: left;
}

.faculty-container section {
  height: 500px;
}




